<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineExaminationApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark special-color-dark topMenuHorizontal sticky-top" style="background-color: #7952b3;">

            <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarLeft" aria-controls="#navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topMenu">

                <ul class="navbar-nav mr-auto left">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineExaminationApps</a>
                        @if (!string.IsNullOrEmpty(Session.UserName) && Session.Role == "Admin")
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Create">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="CreateTest">Test</a>
                        </li>
                    }
                        @if (!string.IsNullOrEmpty(Session.UserName) && Session.Role == "Student")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Candidate" asp-action="Index">Home</a>
                            </li>
                        }
                    </ul>

                <!-- Links -->
                <ul class="navbar-nav nav-flex right ml-auto">
                    @if (!string.IsNullOrEmpty(Session.UserName))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Session.UserName</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Session.Role</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logoff">Logoff</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Log in</a>
                        </li>
                    }
                </ul>               
            </div>
            <!-- Collapsible content -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (Session.Message != null)
            {
                var message = (Message)Session.Message;
                <div class="alert @message.CssClassName">
                    <strong>@message.Title</strong>
                    @message.Messages
                </div>

            }
            <br>
            @{Session.Message = new Message();}
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OnlineExaminationApps - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
